<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    Overview
  </div>
  <div class="content">
    <div class="ui link list">
      <a class="item"><i class="angle double right icon"></i>Gaining Access</a>
      <a class="item"><i class="angle double right icon"></i>Inviting Friends</a>
    </div>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Installation
  </div>
  <div class="content">
    <div class="ui link list " style="opacity: 1;">
      <a class="item"><i class="angle double right icon"></i> System Requirements</a>
      <a class="item"><i class="angle double right icon"></i>Download</a><a class="item"><i class="angle double right icon"></i>Docker Compose</a><a class="item"><i class="angle double right icon"></i>Manual</a>
    </div>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Workflow
  </div>
  <div class="content">
    <div class="ui link list">
      <a class="item"><i class="angle double right icon"></i>Overview</a>
      <a class="item"><i class="angle double right icon"></i>Single Codebase</a><a class="item"><i class="angle double right icon"></i>Multiple Codebases</a>
    </div>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Components
  </div>
  <div class="content">
    <div class="ui link list">
      <a class="item"><i class="angle double right icon"></i>Web</a>
      <a class="item"><i class="angle double right icon"></i>MySQL</a>
      <a class="item"><i class="angle double right icon"></i>Redis</a>
      <a class="item"><i class="angle double right icon"></i>Varnish</a>
    </div>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Build &amp; extend
  </div>
  <div class="content">
    <div class="ui link list">
      <a class="item"><i class="angle double right icon"></i>Overview</a>
      <a class="item"><i class="angle double right icon"></i>Extending Box</a>
      <a class="item"><i class="angle double right icon"></i>Scaling containers</a>
    </div>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Manage Box
  </div>
  <div class="content">
    <div class="ui link list">
      <a class="item"><i class="angle double right icon"></i>Overview</a>
      <a class="item"><i class="angle double right icon"></i>Updates</a>
      <a class="item"><i class="angle double right icon"></i>Uninstall</a>
    </div>
  </div>
</div>
