<div class="top-nav ui menu large navigation">
  <!-- Top Bar -->
  <div class="ui menu inverted active">
    <div class="ui-grid">
      <div class="container">
      <a class="item" href="{{site.url}}">Box</a>
      <a class="item" href="{{site.url}}features">
        <i class="empty star icon">
        </i>Features</a>
        <a class="item" href="{{site.url}}getting-started">
          <i class="laptop icon">
          </i>Getting Started</a>
        <a class="item" href="{{site.url}}docs">
          <i class="text file outline icon">
          </i> Documentation
        </a>
      <div class="ui dropdown item">
        <i class="dropdown icon"></i>Get Involved<div class="menu">
          <a class="item"><i class="us flag"></i>English</a>
          <a class="item"><i class="ru flag"></i>Russian</a>
          <a class="item"><i class="es flag"></i>Spanish</a>
        </div>
      </div>
      <div class="right menu">
      <div class="item">
        <a href="#" id="login" class="ui yellow button"><i class="cloud download icon"></i> Download</a>
      </div>
      </div>
      </div>
    </div>
  </div>
  <!--/ Top Bar -->


    </div>
